USE [PPE_M2L]
GO
/****** Object:  Table [dbo].[ATELIER]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ATELIER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPARTICIPANTANIMATEUR] [int] NULL,
	[LIBELLEATELIER] [varchar](50) NULL,
	[NBPLACESMAXI] [int] NULL,
 CONSTRAINT [PK_ATELIER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIECHAMBRE]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIECHAMBRE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLECATEGORIE] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIECHAMBRE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATEBENEVOLAT]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATEBENEVOLAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATEBENEVOLAT] [date] NULL,
 CONSTRAINT [PK_DATEBENEVOLAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATENUITEE]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATENUITEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATEARRIVEENUITEE] [date] NULL,
 CONSTRAINT [PK_DATENUITEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETAILHEBERGEMENT]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILHEBERGEMENT](
	[IDPARTICIPANT] [int] NOT NULL,
	[NUMORDRE] [int] NOT NULL,
	[CODEHOTEL] [int] NOT NULL,
	[IDCATEGORIE] [int] NOT NULL,
	[IDDATENUITEE] [int] NOT NULL,
 CONSTRAINT [PK_DETAILHEBERGEMENT] PRIMARY KEY CLUSTERED 
(
	[IDPARTICIPANT] ASC,
	[NUMORDRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ETREPRESENT]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETREPRESENT](
	[IDPARTICIPANT] [int] NOT NULL,
	[IDDATEBENEVOLAT] [int] NOT NULL,
 CONSTRAINT [PK_ETREPRESENT] PRIMARY KEY CLUSTERED 
(
	[IDPARTICIPANT] ASC,
	[IDDATEBENEVOLAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOTEL](
	[CODEHOTEL] [int] IDENTITY(1,1) NOT NULL,
	[NOMHOTEL] [varchar](50) NULL,
	[ADRESSE1HOTEL] [varchar](50) NULL,
	[ADRESSE2HOTEL] [varchar](50) NULL,
	[CPHOTEL] [varchar](5) NULL,
	[VILLEHOTEL] [varchar](50) NULL,
	[TELHOTEL] [varchar](10) NULL,
	[MAILHOTEL] [varchar](100) NULL,
 CONSTRAINT [PK_HOTEL] PRIMARY KEY CLUSTERED 
(
	[CODEHOTEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOTELCHAMBREPRIX]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTELCHAMBREPRIX](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDHOTEL] [int] NOT NULL,
	[IDCATEGORIECHAMBRE] [int] NOT NULL,
	[PRIX] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDHOTEL] ASC,
	[IDCATEGORIECHAMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INCLUREACCOMPAGNANT]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCLUREACCOMPAGNANT](
	[IDPARTICIPANT] [int] NOT NULL,
	[IDRESTAURATION] [int] NOT NULL,
 CONSTRAINT [PK_INCLUREACCOMPAGNANT] PRIMARY KEY CLUSTERED 
(
	[IDPARTICIPANT] ASC,
	[IDRESTAURATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INSCRIRE]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSCRIRE](
	[IDATELIER] [int] NOT NULL,
	[IDPARTICIPANT] [int] NOT NULL,
 CONSTRAINT [PK_INSCRIRE] PRIMARY KEY CLUSTERED 
(
	[IDATELIER] ASC,
	[IDPARTICIPANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAIEMENT]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAIEMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPARTICIPANT] [int] NOT NULL,
	[MONTANTCHEQUE] [float] NULL,
	[NUMEROCHEQUE] [varchar](15) NULL,
	[TYPEPAIEMENT] [varchar](30) NULL,
 CONSTRAINT [PK_PAIEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARAMETRES]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETRES](
	[NOMDDL] [varchar](32) NULL,
	[ADRRUE1] [varchar](50) NULL,
	[ADRRUE2] [varchar](50) NULL,
	[CP] [varchar](5) NULL,
	[VILLE] [varchar](50) NULL,
	[TEL] [varchar](10) NULL,
	[FAX] [varchar](10) NULL,
	[MAIL] [varchar](100) NULL,
	[TARIFINSCRIPTION] [float] NULL,
	[TARIFREPASACCOMPAGNANT] [float] NULL,
	[NUMERO] [int] NOT NULL,
 CONSTRAINT [PK_PARAMETRES] PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARTICIPANT]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARTICIPANT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](50) NOT NULL,
	[PRENOM] [varchar](50) NOT NULL,
	[ADRESSE1] [varchar](50) NULL,
	[ADRESSE2] [varchar](50) NULL,
	[CP] [varchar](5) NULL,
	[VILLE] [varchar](50) NULL,
	[TEL] [varchar](15) NULL,
	[MAIL] [varchar](50) NULL,
	[DATEINSCRIPTION] [date] NULL,
	[DATEARRIVEE] [date] NULL,
	[CLEWIFI] [varchar](50) NULL,
	[TYPEPARTICIPANT] [varchar](1) NULL,
	[NUMEROLICENCE] [varchar](32) NULL,
	[DATENAISSANCEBENEVOLE] [date] NULL,
	[IDATELIERINTERVENANT] [int] NULL,
	[IDQUALITELICENCIE] [int] NULL,
	[IDSTATUT] [varchar](3) NULL,
 CONSTRAINT [PK_PARTICIPANT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARTICIPER]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTICIPER](
	[IDATELIER] [int] NOT NULL,
	[IDVACATION] [int] NOT NULL,
	[IDPARTICIPANT] [int] NOT NULL,
 CONSTRAINT [PK_PARTICIPER] PRIMARY KEY CLUSTERED 
(
	[IDATELIER] ASC,
	[IDVACATION] ASC,
	[IDPARTICIPANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROPOSER]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPOSER](
	[CODEHOTEL] [int] NOT NULL,
	[IDCATEGORIE] [int] NOT NULL,
	[TARIFNUITEE] [float] NULL,
 CONSTRAINT [PK_PROPOSER] PRIMARY KEY CLUSTERED 
(
	[CODEHOTEL] ASC,
	[IDCATEGORIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUALITE]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUALITE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLEQUALITE] [varchar](50) NULL,
 CONSTRAINT [PK_QUALITE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESTAURATION]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESTAURATION](
	[IDRESTAURATION] [int] IDENTITY(1,1) NOT NULL,
	[DATERESTAURATION] [date] NULL,
	[TYPEREPAS] [varchar](10) NULL,
 CONSTRAINT [PK_RESTAURATION] PRIMARY KEY CLUSTERED 
(
	[IDRESTAURATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STATUT]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATUT](
	[ID] [varchar](3) NOT NULL,
	[LIBELLE] [varchar](15) NULL,
 CONSTRAINT [PK_STATUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THEME]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THEME](
	[IDATELIER] [int] NOT NULL,
	[IDTHEME] [int] NOT NULL,
	[LIBELLETHEME] [varchar](50) NULL,
 CONSTRAINT [PK_THEME] PRIMARY KEY CLUSTERED 
(
	[IDATELIER] ASC,
	[IDTHEME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VACATION]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACATION](
	[IDATELIER] [int] NOT NULL,
	[IDVACATION] [int] NOT NULL,
	[DATEHEUREDEBUT] [datetime] NULL,
	[DATEHEUREFIN] [datetime] NULL,
 CONSTRAINT [PK_VACATION] PRIMARY KEY CLUSTERED 
(
	[IDATELIER] ASC,
	[IDVACATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VATELIER01]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--
-- Cette vue VATELIER01 va permettre de remplir la combo Atelier pour l'intervenant
create view [dbo].[VATELIER01] as
select ID , LIBELLEATELIER as LIBELLE
from atelier;

GO
/****** Object:  View [dbo].[VATELIER02]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VATELIER02] as
select ID, LIBELLEATELIER,  rank() over (ORDER BY ID) as NUMORDRE from atelier;

GO
/****** Object:  View [dbo].[VCATEGORIECHAMBRE01]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Cette vue VCATEGORIECHAMBRE01 va permettre de remplir la combobox du choix de la catégorie de la chambre du composant nuité
create view [dbo].[VCATEGORIECHAMBRE01] as
select ID , LIBELLECATEGORIE as LIBELLE
from CATEGORIECHAMBRE;

GO
/****** Object:  View [dbo].[VDATEBENEVOLAT01]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Cette vue VDATEBENEVOLAT01 va permettre de choisir les dates où un bénévole est disponible
create view [dbo].[VDATEBENEVOLAT01] as
select ID,DATEBENEVOLAT as LIBELLE
from DATEBENEVOLAT;

GO
/****** Object:  View [dbo].[VDATENUITEE02]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
---- Cette vue VDATENUITEE01 va permettre de choisir les dates où un participant peut arriver à l'hotel
--create view VDATENUITEE01 as
--select id, to_char(DATEARRIVEENUITEE, 'Day dd Month YYYY','NLS_DATE_LANGUAGE = FRENCH')as libelle
--from DATENUITEE;
--go
-- Cette vue VDATENUITEE02 est une alternative à VDATENUITEE01 elle va renvoyer la date au format date
create view [dbo].[VDATENUITEE02] as
select ID, DATEARRIVEENUITEE
from DATENUITEE;

GO
/****** Object:  View [dbo].[VHOTEL01]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Cette vue VHOTEL01 va permettre de remplir la combobox du choix d'hotel du composant nuité

create view [dbo].[VHOTEL01] as
select CODEHOTEL as ID, NOMHOTEL as LIBELLE
from HOTEL;

GO
/****** Object:  View [dbo].[VQUALITE01]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- -----------------------------------------------------------------------------
--                LES VUES
-- -----------------------------------------------------------------------------
-- Cette vue vqualite01 va permettre d'avoir un résultat trié dans les combobox
create view [dbo].[VQUALITE01] as
select ID, LIBELLEQUALITE as LIBELLE
from qualite

GO
SET IDENTITY_INSERT [dbo].[ATELIER] ON 

INSERT [dbo].[ATELIER] ([ID], [IDPARTICIPANTANIMATEUR], [LIBELLEATELIER], [NBPLACESMAXI]) VALUES (1, NULL, N'Le club et son projet', 20)
INSERT [dbo].[ATELIER] ([ID], [IDPARTICIPANTANIMATEUR], [LIBELLEATELIER], [NBPLACESMAXI]) VALUES (2, NULL, N'Le fonctionnement du club', 20)
INSERT [dbo].[ATELIER] ([ID], [IDPARTICIPANTANIMATEUR], [LIBELLEATELIER], [NBPLACESMAXI]) VALUES (3, NULL, N'Les outils à disposition et remis aux clubs', 20)
SET IDENTITY_INSERT [dbo].[ATELIER] OFF
SET IDENTITY_INSERT [dbo].[CATEGORIECHAMBRE] ON 

INSERT [dbo].[CATEGORIECHAMBRE] ([ID], [LIBELLECATEGORIE]) VALUES (1, N'Single')
INSERT [dbo].[CATEGORIECHAMBRE] ([ID], [LIBELLECATEGORIE]) VALUES (2, N'Twin')
SET IDENTITY_INSERT [dbo].[CATEGORIECHAMBRE] OFF
SET IDENTITY_INSERT [dbo].[DATEBENEVOLAT] ON 

INSERT [dbo].[DATEBENEVOLAT] ([ID], [DATEBENEVOLAT]) VALUES (1, CAST(N'2015-09-13' AS Date))
INSERT [dbo].[DATEBENEVOLAT] ([ID], [DATEBENEVOLAT]) VALUES (2, CAST(N'2015-09-14' AS Date))
INSERT [dbo].[DATEBENEVOLAT] ([ID], [DATEBENEVOLAT]) VALUES (3, CAST(N'2015-09-15' AS Date))
SET IDENTITY_INSERT [dbo].[DATEBENEVOLAT] OFF
SET IDENTITY_INSERT [dbo].[DATENUITEE] ON 

INSERT [dbo].[DATENUITEE] ([ID], [DATEARRIVEENUITEE]) VALUES (1, CAST(N'2015-09-12' AS Date))
INSERT [dbo].[DATENUITEE] ([ID], [DATEARRIVEENUITEE]) VALUES (2, CAST(N'2015-09-13' AS Date))
SET IDENTITY_INSERT [dbo].[DATENUITEE] OFF
SET IDENTITY_INSERT [dbo].[HOTEL] ON 

INSERT [dbo].[HOTEL] ([CODEHOTEL], [NOMHOTEL], [ADRESSE1HOTEL], [ADRESSE2HOTEL], [CPHOTEL], [VILLEHOTEL], [TELHOTEL], [MAILHOTEL]) VALUES (1, N'IBIS', N'29, avenue Charles Venant', N'Le Forum', N'59000', N'LILLE', NULL, N'H0901@ACCOR.COM')
INSERT [dbo].[HOTEL] ([CODEHOTEL], [NOMHOTEL], [ADRESSE1HOTEL], [ADRESSE2HOTEL], [CPHOTEL], [VILLEHOTEL], [TELHOTEL], [MAILHOTEL]) VALUES (2, N'NOVOTEL', N'116 rue de l"Hopital Militaire', N'', N'59000', N'LILLE', NULL, N'H0918@ACCOR.COM')
SET IDENTITY_INSERT [dbo].[HOTEL] OFF
SET IDENTITY_INSERT [dbo].[HOTELCHAMBREPRIX] ON 

INSERT [dbo].[HOTELCHAMBREPRIX] ([ID], [IDHOTEL], [IDCATEGORIECHAMBRE], [PRIX]) VALUES (1, 1, 1, 61.2)
INSERT [dbo].[HOTELCHAMBREPRIX] ([ID], [IDHOTEL], [IDCATEGORIECHAMBRE], [PRIX]) VALUES (2, 1, 2, 62.2)
INSERT [dbo].[HOTELCHAMBREPRIX] ([ID], [IDHOTEL], [IDCATEGORIECHAMBRE], [PRIX]) VALUES (3, 2, 1, 112)
SET IDENTITY_INSERT [dbo].[HOTELCHAMBREPRIX] OFF
INSERT [dbo].[INSCRIRE] ([IDATELIER], [IDPARTICIPANT]) VALUES (1, 12)
INSERT [dbo].[PARAMETRES] ([NOMDDL], [ADRRUE1], [ADRRUE2], [CP], [VILLE], [TEL], [FAX], [MAIL], [TARIFINSCRIPTION], [TARIFREPASACCOMPAGNANT], [NUMERO]) VALUES (N'Maison Régionale des Sports', N'13 rue jean moulin', N'BP 70001', N'54510', N'Tromblaine', N'0383188702', N'', N'escrime@lorraine-sport.com', 100, 35, 1)
SET IDENTITY_INSERT [dbo].[PARTICIPANT] ON 

INSERT [dbo].[PARTICIPANT] ([ID], [NOM], [PRENOM], [ADRESSE1], [ADRESSE2], [CP], [VILLE], [TEL], [MAIL], [DATEINSCRIPTION], [DATEARRIVEE], [CLEWIFI], [TYPEPARTICIPANT], [NUMEROLICENCE], [DATENAISSANCEBENEVOLE], [IDATELIERINTERVENANT], [IDQUALITELICENCIE], [IDSTATUT]) VALUES (0, N'Sonntag', N'Christophe', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Licencie', NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[PARTICIPANT] OFF
SET IDENTITY_INSERT [dbo].[QUALITE] ON 

INSERT [dbo].[QUALITE] ([ID], [LIBELLEQUALITE]) VALUES (1, N'Licencié(e)')
INSERT [dbo].[QUALITE] ([ID], [LIBELLEQUALITE]) VALUES (2, N'Président(e)')
INSERT [dbo].[QUALITE] ([ID], [LIBELLEQUALITE]) VALUES (3, N'Vice Président(e)')
SET IDENTITY_INSERT [dbo].[QUALITE] OFF
INSERT [dbo].[STATUT] ([ID], [LIBELLE]) VALUES (N'ANI', N'Animateur')
INSERT [dbo].[STATUT] ([ID], [LIBELLE]) VALUES (N'INT', N'Intervenant')
INSERT [dbo].[THEME] ([IDATELIER], [IDTHEME], [LIBELLETHEME]) VALUES (1, 1, N'Diagnostic et identification des critères du club')
INSERT [dbo].[THEME] ([IDATELIER], [IDTHEME], [LIBELLETHEME]) VALUES (1, 2, N'Analyse systèmique de l"environement')
INSERT [dbo].[THEME] ([IDATELIER], [IDTHEME], [LIBELLETHEME]) VALUES (1, 3, N'Actions solidaires et innovantes')
INSERT INTO VACATION VALUES (1,1,cast('20150913 11:00' as datetime),cast('20150913 12:30' as datetime));
INSERT INTO VACATION VALUES (1,2,cast('20150913 14:00' as datetime),cast('20150913 15:30'as datetime));
INSERT INTO VACATION VALUES (1,3,cast('20150913 16:00' as datetime),cast('20150913 17:30' as datetime));
ALTER TABLE [dbo].[ATELIER]  WITH CHECK ADD  CONSTRAINT [FK_ATELIER_1] FOREIGN KEY([IDPARTICIPANTANIMATEUR])
REFERENCES [dbo].[PARTICIPANT] ([ID])
GO
ALTER TABLE [dbo].[ATELIER] CHECK CONSTRAINT [FK_ATELIER_1]
GO
ALTER TABLE [dbo].[DETAILHEBERGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILHEBERGEMENT_1] FOREIGN KEY([CODEHOTEL])
REFERENCES [dbo].[HOTEL] ([CODEHOTEL])
GO
ALTER TABLE [dbo].[DETAILHEBERGEMENT] CHECK CONSTRAINT [FK_DETAILHEBERGEMENT_1]
GO
ALTER TABLE [dbo].[DETAILHEBERGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILHEBERGEMENT_2] FOREIGN KEY([IDCATEGORIE])
REFERENCES [dbo].[CATEGORIECHAMBRE] ([ID])
GO
ALTER TABLE [dbo].[DETAILHEBERGEMENT] CHECK CONSTRAINT [FK_DETAILHEBERGEMENT_2]
GO
ALTER TABLE [dbo].[DETAILHEBERGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILHEBERGEMENT_3] FOREIGN KEY([IDDATENUITEE])
REFERENCES [dbo].[DATENUITEE] ([ID])
GO
ALTER TABLE [dbo].[DETAILHEBERGEMENT] CHECK CONSTRAINT [FK_DETAILHEBERGEMENT_3]
GO
ALTER TABLE [dbo].[DETAILHEBERGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_DETAILHEBERGEMENT_4] FOREIGN KEY([IDPARTICIPANT])
REFERENCES [dbo].[PARTICIPANT] ([ID])
GO
ALTER TABLE [dbo].[DETAILHEBERGEMENT] CHECK CONSTRAINT [FK_DETAILHEBERGEMENT_4]
GO
ALTER TABLE [dbo].[ETREPRESENT]  WITH CHECK ADD  CONSTRAINT [FK_ETREPRESENT_1] FOREIGN KEY([IDPARTICIPANT])
REFERENCES [dbo].[PARTICIPANT] ([ID])
GO
ALTER TABLE [dbo].[ETREPRESENT] CHECK CONSTRAINT [FK_ETREPRESENT_1]
GO
ALTER TABLE [dbo].[ETREPRESENT]  WITH CHECK ADD  CONSTRAINT [FK_ETREPRESENT_2] FOREIGN KEY([IDDATEBENEVOLAT])
REFERENCES [dbo].[DATEBENEVOLAT] ([ID])
GO
ALTER TABLE [dbo].[ETREPRESENT] CHECK CONSTRAINT [FK_ETREPRESENT_2]
GO
ALTER TABLE [dbo].[HOTELCHAMBREPRIX]  WITH CHECK ADD FOREIGN KEY([IDCATEGORIECHAMBRE])
REFERENCES [dbo].[CATEGORIECHAMBRE] ([ID])
GO
ALTER TABLE [dbo].[HOTELCHAMBREPRIX]  WITH CHECK ADD FOREIGN KEY([IDHOTEL])
REFERENCES [dbo].[HOTEL] ([CODEHOTEL])
GO
ALTER TABLE [dbo].[INCLUREACCOMPAGNANT]  WITH CHECK ADD  CONSTRAINT [FK_INCLUREACCOMPAGNANT_1] FOREIGN KEY([IDPARTICIPANT])
REFERENCES [dbo].[PARTICIPANT] ([ID])
GO
ALTER TABLE [dbo].[INCLUREACCOMPAGNANT] CHECK CONSTRAINT [FK_INCLUREACCOMPAGNANT_1]
GO
ALTER TABLE [dbo].[INCLUREACCOMPAGNANT]  WITH CHECK ADD  CONSTRAINT [FK_INCLUREACCOMPAGNANT_2] FOREIGN KEY([IDRESTAURATION])
REFERENCES [dbo].[RESTAURATION] ([IDRESTAURATION])
GO
ALTER TABLE [dbo].[INCLUREACCOMPAGNANT] CHECK CONSTRAINT [FK_INCLUREACCOMPAGNANT_2]
GO
ALTER TABLE [dbo].[INSCRIRE]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIRE_1] FOREIGN KEY([IDATELIER])
REFERENCES [dbo].[ATELIER] ([ID])
GO
ALTER TABLE [dbo].[INSCRIRE] CHECK CONSTRAINT [FK_INSCRIRE_1]
GO
ALTER TABLE INSCRIRE ADD CONSTRAINT FK_INSCRIRE_2 FOREIGN KEY (IDPARTICIPANT)  REFERENCES PARTICIPANT(ID)
GO
ALTER TABLE [dbo].[PAIEMENT]  WITH CHECK ADD  CONSTRAINT [FK_PAIEMENT_1] FOREIGN KEY([IDPARTICIPANT])
REFERENCES [dbo].[PARTICIPANT] ([ID])
GO
ALTER TABLE [dbo].[PAIEMENT] CHECK CONSTRAINT [FK_PAIEMENT_1]
GO
ALTER TABLE [dbo].[PARTICIPANT]  WITH CHECK ADD  CONSTRAINT [FK_PARTICIPANT_1] FOREIGN KEY([IDATELIERINTERVENANT])
REFERENCES [dbo].[ATELIER] ([ID])
GO
ALTER TABLE [dbo].[PARTICIPANT] CHECK CONSTRAINT [FK_PARTICIPANT_1]
GO
ALTER TABLE [dbo].[PARTICIPANT]  WITH CHECK ADD  CONSTRAINT [FK_PARTICIPANT_2] FOREIGN KEY([IDQUALITELICENCIE])
REFERENCES [dbo].[QUALITE] ([ID])
GO
ALTER TABLE [dbo].[PARTICIPANT] CHECK CONSTRAINT [FK_PARTICIPANT_2]
GO
ALTER TABLE [dbo].[PARTICIPANT]  WITH CHECK ADD  CONSTRAINT [FK_STATUT_1] FOREIGN KEY([IDSTATUT])
REFERENCES [dbo].[STATUT] ([ID])
GO
ALTER TABLE [dbo].[PARTICIPANT] CHECK CONSTRAINT [FK_STATUT_1]
GO
ALTER TABLE [dbo].[PARTICIPER]  WITH CHECK ADD  CONSTRAINT [FK_PARTICIPER_1] FOREIGN KEY([IDATELIER], [IDVACATION])
REFERENCES [dbo].[VACATION] ([IDATELIER], [IDVACATION])
GO
ALTER TABLE [dbo].[PARTICIPER] CHECK CONSTRAINT [FK_PARTICIPER_1]
GO
ALTER TABLE [dbo].[PARTICIPER]  WITH CHECK ADD  CONSTRAINT [FK_PARTICIPER_2] FOREIGN KEY([IDATELIER],[IDPARTICIPANT])
REFERENCES [dbo].[INSCRIRE] ([IDATELIER], [IDPARTICIPANT])
GO
ALTER TABLE [dbo].[PARTICIPER] CHECK CONSTRAINT [FK_PARTICIPER_2]
GO
ALTER TABLE [dbo].[PROPOSER]  WITH CHECK ADD  CONSTRAINT [FK_PROPOSER_1] FOREIGN KEY([CODEHOTEL])
REFERENCES [dbo].[HOTEL] ([CODEHOTEL])
GO
ALTER TABLE [dbo].[PROPOSER] CHECK CONSTRAINT [FK_PROPOSER_1]
GO
ALTER TABLE [dbo].[PROPOSER]  WITH CHECK ADD  CONSTRAINT [FK_PROPOSER_2] FOREIGN KEY([IDCATEGORIE])
REFERENCES [dbo].[CATEGORIECHAMBRE] ([ID])
GO
ALTER TABLE [dbo].[PROPOSER] CHECK CONSTRAINT [FK_PROPOSER_2]
GO
ALTER TABLE [dbo].[THEME]  WITH CHECK ADD  CONSTRAINT [FK_THEME_1] FOREIGN KEY([IDATELIER])
REFERENCES [dbo].[ATELIER] ([ID])
GO
ALTER TABLE [dbo].[THEME] CHECK CONSTRAINT [FK_THEME_1]
GO
ALTER TABLE [dbo].[VACATION]  WITH CHECK ADD  CONSTRAINT [FK_VACATION_1] FOREIGN KEY([IDATELIER])
REFERENCES [dbo].[ATELIER] ([ID])
GO
ALTER TABLE [dbo].[VACATION] CHECK CONSTRAINT [FK_VACATION_1]
GO
/****** Object:  StoredProcedure [dbo].[GetMaxNumOrdre]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMaxNumOrdre]
   @idparticipant INT,
   @nummax INT OUTPUT
AS
BEGIN
   SELECT @nummax = MAX(NUMORDRE)
   FROM DETAILHEBERGEMENT
   WHERE IDPARTICIPANT = @idparticipant
END


GO
/****** Object:  StoredProcedure [dbo].[PSnouvelintervenant]    Script Date: 24/05/2016 17:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* procédure insérant un intervenant et retournant un paramètre @erreur = 1 si erreur à l'insertion, 0 sinon */
create procedure [dbo].[PSnouvelintervenant]
  @pNom varchar(50),
  @pPrenom varchar(50),
  @pAdr1 varchar(50),
  @pAdr2 varchar(50),
  @pCp varchar(5),
  @pVille varchar(50),
  @pTel varchar(15),
  @pMail varchar(50),
  @ptype varchar(1),
  @pidatelierintervenant int,
  @pIdStatut varchar(3)
 /* @newId int output*/
  as  
  BEGIN 
  SET NOCOUNT ON     /*  indique à SQL Server de ne pas retourner le nombre de lignes affectées par la requête INSERT*/
        insert into PARTICIPANT(nom, prenom, adresse1, adresse2,cp, ville,tel, mail,typeparticipant, DATEINSCRIPTION,IDATELIERINTERVENANT,IDSTATUT)
        values (@pNom,@pPrenom,@pAdr1,@pAdr2,@pCp,@pVille,@pTel,@pMail,@ptype,GETDATE(),@pidatelierintervenant,@pIdStatut)
        end
/*  SET @newId = @@identity*/
/* il faudra aussi mettre à jour idparticipant avec @newId dans la table Atelier */


GO
