<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
 </configSections>
 <startup> 
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
 </startup>
 <connectionStrings>
  <!--<add name="ConnStringDb1" connectionString="Data Source=localhost\SQLSERVER;Initial Catalog=PPE_M2L;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  <!--<add name="MaConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PPE_M2L;User ID=Hip-desktop\Hip;PWD=;" providerName="System.DataSqlClient" />-->
   <!-- OK : No Login/Pass --> <add name="MaConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PPE_M2L;Persist Security Info=True;Integrated Security=SSPI;" providerName="System.DataSqlClient" />
   <!--<add name="MaConnection" connectionString="Server=localhost;Database=PPE_M2L;User Id={0};password={1};encrypt=true;" providerName="System.Data.SqlClient" />-->
   <!--<add name="MaConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PPE_M2L;User ID={0};PWD={1};" providerName="System.DataSqlClient" />-->
 </connectionStrings>
</configuration>